<!DOCTYPE html>
<html>
  <head>
    <title>StockTradingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar-list">
        <% if user_signed_in? %>
          <li> $ <%= number_with_precision(current_user.balance, precision: 2) %> <%= link_to "Resources", user_balance_path(current_user), class: "balance" %></li>
          <% if current_user.operations.exists? %>

            <li><%= link_to "My Operations", trades_path %></li>
          <% end %>
        <% end %>
        <li><%= link_to "Buy stocks", stocks_path %></li>

        <% if user_signed_in? %>
          <% user = current_user %>
          <% time = Time.now %>
          <% if time.hour < 12 %>
            <li class="greeting">Good morning, <%= user.email %>!</li>
          <% elsif time.hour < 18 %>
            <li class="greeting">Good afternoon, <%= user.email %>!</li>
          <% else %>
            <li class="greeting">Good evening, <%= user.email %>!</li>
          <% end %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
  <style>
    .navbar {
      background-color: #f8f9fa;
      padding: 10px;
    }
    .navbar-list {
      display: flex;
      list-style-type: none;
      padding: 0;
    }
    .navbar-list li {
      margin-right: 10px;
    }
    .greeting {
      font-weight: bold;
    }
    .balance {
      margin-left: 10px;
    }
  </style>
</html>